.allOfHome {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 4px;
  background-color: black;
}
.logo {
  width: 40px;
}
.userInfoAndLogout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 4px;
}
.userInfos {
  display: flex;
}
.userFirstNameAndLastName {
  display: flex;
  flex-direction: row;
}

.userPhoto {
  width: 30px;
}
.userFirstName {
  size: 8px;
  color: white;
}
.userName {
  size: 5px;
  color:gray

}
.logout {
  background-color: black;
  width: 80px;
  height: 30px;
  color: white;
  border-radius: 40px;
  border-color: white;
  font-size: 8px;
  margin-bottom: 20px;
  cursor: pointer;

}
