.tweetContainer {
  background-color: rgb(41, 35, 35);
  color: white;
  margin-top: 30px;
  border-color: grey;
  border: 3px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
}
.tweetHeader {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: left;
}
.userPhoto {
  margin-right: 10px;
  width: 30px;
  border-radius: 50px;
  margin-top: 10px;
}
.userFirstName {
  margin-right: 20px;
}
.tweetedTime {
}
.tweetAndHastag {
}
.tweetName {
  margin-bottom: 20px;
}
.hashtag {
}
.likesAndCounts {
  display: flex;
  flex-direction: row;
}
.likes {
  margin-right: 10px;
  cursor: pointer;
}
.likes.hover {
  opacity: 20%;
}
.likes_counter {
}
