.allPage {
  display: flex;
}
.landingPageLeftSide {
  background-image: url("../public/LeftSection.jpg");
  width: 20vw;
  height: 100vh;
}
.landingPageRightSection {
  color: white;
  background-color: black;
  width: 80vw;
  padding-left: 100px;
}
.logo {
  margin-top: 60px;
  width: 60px;
}
/* .landingPageWelcomeMessage {
}
.landingPageWelcomeMessageDetail {
}
.buttonContainerLandingPage {
} */

.signUpButton {
  background-color: #1da1f2;
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 20px;
  border: black;
  font-size: 12px;
  margin-bottom: 20px;
}
.signUpMessage {
  font-size: 10px;
}

.signInButton {
  background-color: #1da1f2;
  width: 80px;
  color: white;
  border-radius: 20px;
  border: black;
  width: 100px;
  height: 40px;
}
