.allContainer{
    background-color: black;
    color: white;
    
}

/* .logo {
   
}
.ModalMessage {
    
} */
.signUpForm {

 display: flex;
    margin: 10px;
    padding: 20px;
}
.modalFirstName {
    width: 100px;
    margin: 20px;
    border-radius: 80px;
}
.modalUserName {
    width: 100px;
    margin: 10px;
    border-radius: 20px;
}
.modalPassword {
    width: 100px;
    margin: 10px;
    border-radius: 20px;
}
.signUpButton {
    background-color: #1da1f2;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 20px;
    border: black;
    font-size: 12px;
    margin-top: 20px;
    cursor: pointer;
} 